body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:11px;
  width:436px;
  height:114px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:125px;
  width:31px;
  height:666px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:666px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:125px;
  width:30px;
  height:666px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:108px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:791px;
  width:436px;
  height:108px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:125px;
  width:375px;
  height:28px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:639px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:153px;
  width:375px;
  height:638px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:49px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:743px;
  width:125px;
  height:48px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:49px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:743px;
  width:125px;
  height:48px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:49px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:743px;
  width:125px;
  height:48px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:42px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:153px;
  width:375px;
  height:41px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:751px;
  width:25px;
  height:23px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:748px;
  width:25px;
  height:25px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:773px;
  width:30px;
  height:18px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:773px;
  width:59px;
  height:18px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:773px;
  width:59px;
  height:18px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:25px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:163px;
  width:13px;
  height:24px;
  color:#000000;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:748px;
  width:18px;
  height:25px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:162px;
  width:41px;
  height:23px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:194px;
  width:375px;
  height:69px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:263px;
  width:375px;
  height:69px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:331px;
  width:375px;
  height:69px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:400px;
  width:375px;
  height:69px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:469px;
  width:375px;
  height:69px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:537px;
  width:375px;
  height:69px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:606px;
  width:375px;
  height:69px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:674px;
  width:375px;
  height:69px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:201px;
  width:55px;
  height:55px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:270px;
  width:55px;
  height:55px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:338px;
  width:55px;
  height:55px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:410px;
  width:55px;
  height:55px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:475px;
  width:55px;
  height:55px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:544px;
  width:55px;
  height:55px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:614px;
  width:55px;
  height:55px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:681px;
  width:55px;
  height:55px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:194px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:263px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:201px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:273px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:338px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:410px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:475px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:544px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:614px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:681px;
  width:168px;
  height:31px;
  font-size:20px;
  text-align:left;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:232px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:304px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:369px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:438px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:506px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:573px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:645px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:712px;
  width:168px;
  height:31px;
  font-size:18px;
  color:#6B6B6B;
  text-align:left;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:201px;
  width:83px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:273px;
  width:73px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:338px;
  width:73px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:left;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:410px;
  width:93px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:right;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:475px;
  width:93px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:right;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:544px;
  width:93px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:right;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:614px;
  width:93px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:right;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:681px;
  width:93px;
  height:31px;
  font-size:16px;
  color:#6B6B6B;
  text-align:right;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:267px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:100px;
  width:326px;
  height:256px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
